@page "/"
@inject IJSRuntime JS
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    <p>
        Vector: \(\overrightarrow{AB}\), Line Segment: \(\overline{AB} \)
        \[\overrightarrow{AB} \overline{AB}\]
    </p>
</div>
<p>
    <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
        <mi>x</mi> <mo>=</mo>
        <mrow>
            <mfrac>
                <mrow>
                    <mo>&#x2212;</mo>
                    <mi>b</mi>
                    <mo>&#x00B1;</mo>
                    <msqrt>
                        <msup><mi>b</mi><mn>2</mn></msup>
                        <mo>&#x2212;</mo>
                        <mn>4</mn><mi>a</mi><mi>c</mi>
                    </msqrt>
                </mrow>
                <mrow>
                    <mn>2</mn><mi>a</mi>
                </mrow>
            </mfrac>
        </mrow>
        <mtext>.</mtext>
    </math>
</p>
<button @onclick="Typeset">Typeset</button>
MarkupString <div>@((MarkupString)Value)</div>
InnerHTML<div id="html"></div>
@code {
    private string Value = @"\(\overrightarrow{AB} \overline{AB}\)";
    private void Typeset()
    {
        JS.InvokeVoidAsync("insertInnerHTML", "html", Value);
        JS.InvokeVoidAsync("typeset");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
        }
        //Typeset();
    }

}
