@page "/"
@inject IJSRuntime JS
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    <p>
        Vector: \(\overrightarrow{AB}\), Line Segment: \(\overline{AB} \)
        \[\overrightarrow{AB} \overline{AB}\]
    </p>
</div>
<button @onclick="Typeset">Typeset</button>
MarkupString <div>@((MarkupString)Value)</div>
InnerHTML<div id="html"></div>
@code {
    private string Value = @"\(\overrightarrow{AB} \overline{AB}\)";
    private void Typeset()
    {
        JS.InvokeVoidAsync("insertInnerHTML", "html", Value);
        JS.InvokeVoidAsync("typeset");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
        }
        //Typeset();
    }

}
